:root {
    --main-color: #2bb9c5;
    --main-color-dark: #26a5b0;
    --main-color-darker: #22929b;
    --acc-color: #ff76e4;
    --acc-color-dark: #e56bcd;
    --acc-color-darker: #c65cb1;
}

.btn-creative {
    color: white;
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.btn-creative:hover,
.btn-creative:focus,
.btn-creative:active,
.btn-creative.active {
    color: white;
    background-color: var(--main-color-dark);
    border-color: var(--main-color-darker);
}
.btn-creative.disabled:hover,
.btn-creative.disabled:focus,
.btn-creative.disabled:active,
.btn-creative.disabled.active,
.btn-creative[disabled]:hover,
.btn-creative[disabled]:focus,
.btn-creative[disabled]:active,
.btn-creative[disabled].active,
fieldset[disabled] .btn-creative:hover,
fieldset[disabled] .btn-creative:focus,
fieldset[disabled] .btn-creative:active,
fieldset[disabled] .btn-creative.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.btn-creative.focus, .btn-creative:focus {
    box-shadow: 0 0 0 0.2rem rgba(56, 186, 193, 0.5);
}
.btn-technical {
    color: white;
    background-color: var(--acc-color);
    border-color: var(--acc-color);
}
.btn-technical:hover,
.btn-technical:focus,
.btn-technical:active,
.btn-technical.active {
    color: white;
    background-color: var(--acc-color-dark);
    border-color: var(--acc-color-darker);
}
.btn-technical.disabled:hover,
.btn-technical.disabled:focus,
.btn-technical.disabled:active,
.btn-technical.disabled.active,
.btn-technical[disabled]:hover,
.btn-technical[disabled]:focus,
.btn-technical[disabled]:active,
.btn-technical[disabled].active,
fieldset[disabled] .btn-technical:hover,
fieldset[disabled] .btn-technical:focus,
fieldset[disabled] .btn-technical:active,
fieldset[disabled] .btn-technical.active {
    background-color: var(--acc-color);
    border-color: var(--acc-color);
}
.btn-technical.focus, .btn-technical:focus {
    box-shadow: 0 0 0 0.2rem rgba(222, 96, 213, 0.5);
}
.btn-circle { 
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
}

body {
    font-family: 'Cabin', sans-serif;
}
.card {
    background-color: transparent;
    height: 20em;
    margin-bottom: 1em;
    perspective: 500px;
    border: 0;
}
.card-content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.card:hover .card-content {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.card-front {
    background-color: white;
    color: black;
}
.card-front .card-img-top {
    height: 70%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.card-back {
    background-color: darkgray;
    color: white;
    transform: rotateY(180deg);
}
.card-back .bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:brightness(50%);
    border-radius: 1rem;
}

.navbar {
    background-color: white;
}
#main-logo {
    width: 10rem;
    height: auto;
}
#main {
    background-color: white;
}
section {
    padding-top: 2em;
    padding-bottom: 2em;
}
section.default {
    background-color: #f5f5f5;
}
section:nth-child(odd) {
    background-color: #efefef;
}
section.accent {
    background-color: var(--main-color-darker);
    color: white;
}
section.accent .figure-caption {
    color: #cacaca;
}
section.bg-image {
    color: white;
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.action-icon {
    width: 5em;
    height: auto;
}

.roles-list strong, .roles-list em {
    color: var(--main-color-darker);
}
@media only screen and (min-width: 576px) {
    .homepage-skills li {
        width: 4em;
    }
}
.skills-list li {
    width: 4em;
}
.skill-icon {
    max-width: 50px;
    height: auto;
}
.skill-icon + .skill-description {
/*    display: none;*/
    font-size: 0.75em;
    color: silver;
    margin-bottom: 0.5em;
}
@media only screen and (max-width: 767px) {
    .skill-icon + .skill-description {
/*        display: block;*/
    }
}
.skill {
    font-weight: bolder;
}
.skill.c {
    color: var(--main-color);
}
.skill.t {
    color: var(--acc-color);
}
.video-div iframe {
    width: 100%;
}

footer {
    background-color: black;
    color: white;
    padding: 2em;
}